@page
@model ForumSite.Pages.Forum.Admin.ConfirmRemoveUserFromGroupModel
@{
}

<h3></h3>
<div class="alert alert-danger">
    Are you Sure you want to Remove @Model.UserName from group?
</div>

<form method="post">
    <div class="btn-group" role="group">
        <button type="submit" class="btn btn-danger">Remove</button>
        <a asp-page="./Index" class="btn btn-primary">Back</a>
    </div>
</form>