@page
@model ForumSite.Pages.Forum.Admin.DeleteModel
@{
}
<h1>Delete Subcategory</h1>

<div class="alert alert-danger">
    Are you Sure you want to delete @Model.SubCategory.Title?
</div>

<form method="post">
    <div class="btn-group" role="group">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-page="./Index" class="btn btn-primary">Back</a>
    </div>
</form>