@page
@model ForumSite.Pages.Forum.Admin.DeleteReportedPostModel
@{
}
<h1>Delete Reported Post</h1>
@if (Model.Post == null)
{
    <div class="alert alert-success">
        Post Deleted 
    </div>
}
else
{
    <div class="alert alert-danger">
        Are you Sure you want to delete <br/>@Model.Post.PostText  
    </div>
}


<form method="post">
    <div class="btn-group" role="group">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-page="./Index" class="btn btn-primary">Back</a>
    </div>
</form>