@page
@using Microsoft.AspNetCore.Identity
@using _9Chan.Core.Models
@model ForumSite.Pages.Forum.Admin.EditSubCategoryModel
@{
}
@inject UserManager<User> _userManager
<h1>Edit Subcategory</h1>
<form method="post">
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Title</span>
        <input type="text" asp-for="@Model.InputModel.Title" class="form-control" placeholder="@Model.SubCategory.Title" aria-label="Title" aria-describedby="addon-wrapping">
    </div>
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Description</span>
        <input type="text" asp-for="@Model.InputModel.Description" class="form-control" placeholder="@Model.SubCategory.Description" aria-label="Title" aria-describedby="addon-wrapping">
    </div>
    <hr />
    <div class="btn-group" role="group">
        <button type="submit" class="btn btn-danger">Submit</button>
        <a asp-page="./Index" class="btn btn-primary">Back</a>
    </div>
</form>