@page
@model ForumSite.Pages.Forum.Admin.GroupPageModel
@{
}
<h1>Groups</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Group Name</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in @Model.Groups)
        {
            <tr>
                <td scope="col"><a asp-page="GroupMembers" asp-route-id="@group.ForumGroupId">@group.Name</a></td>
                <td scope="col">@group.Description</td>
                <td scope="col"></td>
            </tr>
        }
    </tbody>
</table>
<hr />
<h2>Add Group</h2>
<form method="post">
    
    <div class="input-group flex-nowrap">
        <span asp-validation-for="Input.Name" class="text-danger"></span>
        <span class="input-group-text" id="addon-wrapping">Name</span>
        <input type="text" asp-for="Input.Name" class="form-control" placeholder="Name" aria-label="Title" aria-describedby="addon-wrapping">
    </div>
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Description</span>
        <input type="text" asp-for="Input.Description" class="form-control" placeholder="Description" aria-label="Title" aria-describedby="addon-wrapping">
    </div>
    <hr />
    <div class="btn-group" role="group">
        <button type="submit" class="btn btn-danger">Add</button>
        <a asp-page="./Index" class="btn btn-primary">Back</a>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}