@page
@using _9Chan.Core.Models
@model ForumSite.Pages.Forum.CategoryModel
@{
}


<table>
    <tr>
        <th>Title</th>
        <th>Description</th>

    </tr>
    @foreach (var category in Model.Categories)
    {
        <tr>
            <td><a asp-page="./SubCategories" asp-route-id="@category.Id">@category.Title</a></td>
            <td><h3>@category.Description</h3></td>
            <td><h3>@category.SubCategories</h3></td>
        </tr>
    }
</table>

<form method="post">
    <div class="input-group">
        <label asp-for="InputCategory.Title"></label>
        <input asp-for="InputCategory.Title" class="form-control" />
        <span asp-validation-for="InputCategory.Title" class="text-danger"></span>
    </div>
    <div class="input-group">
        <label asp-for="InputCategory.Description"></label>
        <input asp-for="InputCategory.Description" class="form-control" />
        <span asp-validation-for="InputCategory.Description" class="text-danger"></span>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<br />
<form method="post">
    <div class="input-group">
        <label asp-for="InputSubCategory.Title"></label>
        <input asp-for="InputSubCategory.Title" class="form-control" />
        <span asp-validation-for="InputSubCategory.Title" class="text-danger"></span>
    </div>
    <div class="input-group">
        <label asp-for="InputSubCategory.Description"></label>
        <input asp-for="InputSubCategory.Description" class="form-control" />
        <span asp-validation-for="InputSubCategory.Description" class="text-danger"></span>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>