@page
@using _9Chan.Core.Models
@model ForumSite.Pages.Forum.ConfirmReportModel
@{
}
<div class="alert alert-danger">
    Are you sure you want to Report Post by @Model.ReportedUsername
</div>

<div>
    <p>@Model.ReportedPostText</p>
</div>

<form method="post">
    <button type="submit" class="btn btn-danger">Yes!</button>
    <a asp-page="Index" class="btn btn-outline-primary">Cancel</a>
</form>