@page
@model ForumSite.Pages.Forum.SendGroupMessageModel
@{
}
<div class="col-6">
    <h3>Bio</h3>
    <hr />
    <form>
        <div class="form-group">
            <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>