@page
@model ForumSite.Pages.Forum.SubCategoriesModel
@{
}

@foreach (var subCategory in Model.SubCategories)
{
    <h4><a asp-route-id="@subCategory.Id" asp-page="./Threads">@subCategory.Title</a></h4>
    <h6>@subCategory.Description</h6>
}