@page
@model ForumSite.Pages.Forum.ThreadsModel
@{
}


<table class="table">
    <tr>
        <th>Title</th>
        <th>PostedBy</th>
        <th>Date Posted</th>
    </tr>
    @foreach (var thread in Model.Threads)
    {
        <tr>
            <td><a asp-route-id="@thread.Id" asp-page="./Post">@thread.Title</a></td>
            <td>@thread.User.Email</td>
            <td>@thread.DateCreated.ToShortDateString()</td>
        </tr>
    }
</table>



